/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2021, 10:27:38 AM
    Author     : rlvanbrummelen
*/
:root {
    --bg-color: white;
    --menu-bg-color: #f5f5f5;
    --bg-color-dialog: snow;
    --statusbar-bg-color: #707070;
}

.sidebar{
    width: 27vh; 
    height:100vh; 
    background-color: var(--menu-bg-color)
}

#sidebar-index{
    margin-top:25px; 
}

.ribbon-toggle-group {
    width: 250px;
}

.ribbon-button{
    vertical-align: text-top
}

.sidebar-back{
    width: fit-content; 
    margin-left: 15px;
    margin-top: 15px;
}

a{
    color: black;
}

#file-content{
    height: 100vh;
}

#sidebar-fixed{
    height: 100vh;
    width: 27vh;
}

#create-project, #edit-project, #open-project, #mappings-div, #preferences-div{
    height: 99vh;
    margin-left: 28vh;
    margin-top: -99.5vh;
}

#open-project{
    height: 97vh !important;
}

.wizard{
    width: inherit;
    height: inherit !important;
}

.sidebar-div{
    height: 100vh;
}

.node-data.item-data-fileName, .node-data.item-data-lastEdited{
    padding: 5vh;
}

.file{
    max-width: 70vh;
}

.window{
    width: -webkit-fill-available !important;
    position: absolute;
    left: 0px;
    top: 14vh;
    padding-bottom: 40px;
}

.window-content{
    min-height: 70vh;
    height: fit-content !important;
}

.window-content > div {
    height: inherit;
}

.mif-spinner{
    font-size: 75px;
    font-weight: 100;
}

.dialog{
    position: fixed !important;
    height: 204px;
    width: 250px;
    top: calc(50vh - 102px);
    left: calc(50vw - 125px);
    background-color: var(--bg-color-dialog);
}

#generate-testcases-load, #processing-mappings-load, #open-project-load {
    display: none;
}

.content-spinner{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.ribbon-grid{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80px;
    border: 1px solid #dadbdc;
    width: 300px !important;
}

.ribbon-icon-button{
    background-color: #f8f8f8;
}

.sidebar-active{
    background-color: rgba(red(#1d1d1d), green(#1d1d1d), blue(#1d1d1d), .1);
}

.bottom-bar {
    width: 100vw;
    height: min-content;
    background-color: var(--statusbar-bg-color);
    position: fixed;
    bottom: 0;
    z-index: 9999;
}

.bar-content{
    width: fit-content;
    margin-right: 20px;
    margin-left: auto;
}

.mif-warning{
    color: orange;
}

.mif-cancel{
    color: red;
}

.issue-info-btn{
    background-color: transparent !important;
}

.badge{
    background-color: var(--statusbar-bg-color);
    color: white;
}

/*.error-view{
    position: fixed;
    width: 100vw;
    height: 225px;
    left: 0;
    bottom:0;
    z-index: 9999;
    background-color: var(--menu-bg-color);
}*/

#error-warning-list{
    position: fixed;
    width: 100vw;
    height: 225px;
    left: 0;
    bottom: 0;
    padding-top: 25px;
    background-color: var(--menu-bg-color);
    z-index: 9999;
    display: none;
    overflow-y: scroll;
}

#error-warning-list li {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px;
    border-bottom-color: var(--statusbar-bg-color);
    border-style: solid;
    padding-bottom: 30px;
}

.flow-icon-div{
    position: absolute;
    cursor: pointer;
    width: fit-content;
    max-width: 60px;
}

.flow-icon{
    font-size: 50px;
    display: table;
    margin: 0 auto;
}

.mif-3x{
    font-size: 40px !important;
}

.flow-icon-div p{
    margin: 0;
    text-align: center;
}

.leader-line{
    z-index: 1;
}

.flow-icon-div:active{
    background-color: #a4cef9;
    opacity: 0.8;
    
}

.highlight{
    background-color: #a4cef9;
    opacity: 0.8;
}

.tests{
    display: none;
}

.chartarea{
    overflow: hidden;
    min-height: 80vh;
    height: fit-content;
}

.tests{
    position: absolute;
    top: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    z-index: 9999;
    background-color: white;
}

table{
    table-layout: fixed;
    width: 100%;
}

.chart-item-popup{
    position: absolute;
    top: 175px;
    left: calc(50vw - 105px);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--menu-bg-color);
    width: 210px;
    height: 130px;
    border: solid 1px var(--statusbar-bg-color);
    z-index: 2;
    display: none;
}

.chart-item-popup form{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.chart-item-popup button{
    margin-left: auto;
    float: right;
}

.chart-conditional-popup{
    position: absolute;
    top: 175px;
    left: calc(50vw - 525px);
    background-color: var(--menu-bg-color);
    width: 1050px;
    height: 240px;
    border: solid 1px var(--statusbar-bg-color);
    z-index: 2;
    display: none;
}

.chart-conditional-popup input{
    width: 150px;
    margin-left: 10px;
}

.chart-conditional-popup .select, .chart-forloop-popup .select{
    width: 200px;
    margin-left: 10px;
}

.form-group+.form-group, .form-group{
    display: -webkit-box;
}

.chart-conditional-popup form{
    margin: 20px;
}

.chart-conditional-popup label{
    line-height: 35px;
    margin-left: 10px;
}

.chart-conditional-popup #var{
    margin-left: 32px;
}

.chart-conditional-popup #condition-label{
    margin-left: 152px;
}

.chart-conditional-popup #specify{
    display: inline;
    margin-left: 456px;
}

#data-label{
    margin-right: 49px;
}

.select-focus-trigger{
    display: none;
}

.questionmark-popup {
    position: absolute;
    top: 175px;
    left: calc(50vw - 150px);
    background-color: var(--menu-bg-color);
    width: 300px;
    height: 140px;
    border: solid 1px var(--statusbar-bg-color);
    z-index: 2;
    display: none;
}

.questionmark-popup form{
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.questionmark-popup label{
    line-height: 35px;
}

.questionmark-popup .form-group{
    display: inline-block;
    margin-top: 0;
}

.chart-retrieve-data-popup, .chart-subroutine-popup{
    position: absolute;
    top: 175px;
    left: calc(50vw - 105px);
    background-color: var(--menu-bg-color);
    width: 210px;
    height: 130px;
    border: solid 1px var(--statusbar-bg-color);
    z-index: 2;
    display: none;
}

.chart-retrieve-data-popup .form-group, .chart-subroutine-popup .form-group, .chart-forloop-popup .form-group{
    display: initial;
}

.chart-retrieve-data-popup form, .chart-subroutine-popup form{
    width: 180px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5px;
}

.chart-retrieve-data-popup label, .chart-subroutine-popup label{
    line-height: 35px;
}

.chart-item-popup .form-group{
    display: block;
}

.chart-retrieve-data-popup button, .chart-subroutine-popup button, .questionmark-popup button, .chart-forloop-popup button {
    margin-top: 10px;
    float: right;
}

.fa-times{
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
}

#conditional-form-group-pos .file, #conditional-form-group-neg .file{
    width: 200px;
}

#condition2-form-group{
    width: fit-content;
}

.condition-error {
    width: 340px;
    margin-left: 20px;
    color: red;
    visibility: hidden;
}

.condition2-else {
    margin-left: 157px !important;
}

#if-else-specify-later{
    line-height: 35px;
    margin-left: 10px;
}

.edit-notify{
    background-color: orange;
}

.save-success {
    background-color: #60a917;
    color: white;
}

#condition-prefix-div .select {
    width: 100px !important;
}

.option-list {
    max-height: 2000px !important; /*default is 200px, this is not enough*/
}

.submit-button-group {
    float: right;
    margin-right: 15px;
    margin-top: 0px !important;
}

#conditional-submit-btn{
    float: right;
    margin-left: auto;
}

.ribbon-dropdown li {
    padding-left: 0 !important;
}

.ribbon-dropdown {
    width: 150% !important;
    margin-left: -25% !important;
}

.ribbon-split-button{
    padding-top: 2px;
}

.ribbon-split .caption {
    font-family: Arial;
}

.chart-forloop-popup {
    position: absolute;
    top: 175px;
    left: calc(50vw - 225px);
    background-color: var(--menu-bg-color);
    width: 490px;
    height: 210px;
    border: solid 1px var(--statusbar-bg-color);
    z-index: 2;
    display: none;
}

.chart-forloop-popup form {
    width: 440px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
}

.for-loop-action-content {
    display: -webkit-inline-box !important;
    width: 100%;
    margin-top: 0px !important;
}

#action-loop-specify {
    margin-left: 100px;
}

.for-loop-first-action-details-div {
    margin-left: 10px;
}

#standardized-mapping-table-singular th, #standardized-mapping-table-plural th, #database-mapping-table-singular th, #database-mapping-table-plural th,
#standardized-mapping-table-singular td, #standardized-mapping-table-plural td, #database-mapping-table-singular td, #database-mapping-table-plural td {
    border: 1px solid var(--statusbar-bg-color);
}

#standardized-mapping-table-singular td, #standardized-mapping-table-plural td, #database-mapping-table-singular td, #database-mapping-table-plural td {
    padding-left: 10px;
    height: 25px;
}

.column {
    float: left;
    width: 49%;
    padding: 5px;
    margin-right: 10px;
}

.center-header{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

#save-db-map-changes, #save-term-map-changes, #save-preferences-changes {
    float: right;
}

#save-preferences-changes{
    margin-right: 10px;
    margin-top: -50px;
}

.validation {
    width: 100px;
}

#edit-properties-maintenance input[type=text], #edit-properties-maintenance input[type=number], #edit-properties-library input[type=text], #edit-properties-library input[type=text] {
    width: 300px;
    margin-left: 10px;
}

#edit-properties-dir-map .input, #preferences-form .input {
    width: 40em;
    margin-left: 10px;
}

#edit-properties-library .textarea{
    width: 500px;
    margin-left: 10px
}

#edit-properties-library .tag-input {
    width: 800px;
    margin-left: 10px;
}

#edit-properties-library .tag-input input[type=text] {
    width: 742px;
}

.wizard>.section .page-content, .wizard>section .page-content {
    overflow-x: auto;
}

#edit-properties-dir-map .file {
    margin-left: 10px;
    width: 500px;
}

#edit-properties-dir-map .dir-validity-btn, #preferences-form .dir-validity-btn{
    margin-left: 10px;
    width: 220px;
}

#edit-properties-dir-map button .mif-folder{
    margin-left: 10px;
}

#selected-working-dir-edit {
    color: red;
    display: none;
}

#selectedLocalFile, #selectedStandardizedFile{
    visibility: hidden;
    margin-top: 5px;
    margin-bottom: 25px;
}

.error {
    color: red;
    margin-top: 0px !important;
}

.listview.view-table .node-data {
    padding-top: 10px;
    padding-bottom: 10px;
}
